



::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-button {
  background: #082440
}
::-webkit-scrollbar-track-piece {
  background:#082440
}
::-webkit-scrollbar-thumb {  background:#1776d5}



